body {
    background-color: #0000;
    font-family: Kelly Slab, cursive;
}

#landingHeader {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landingHeader h1 {
    color: #fff;
}

.btn {
    background-color: #456 !important;
    color: #bbccdd !important;
}

.btn:hover {
    color: #fff !important;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 45s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(../IMAGES/Landing/pic1.jpg);
}

.slideshow li:nth-child(2) {
    background-image: url(../IMAGES/Landing/pic2.jpg);
    animation-delay: 15s;
}

.slideshow li:nth-child(3) {
    background-image: url(../IMAGES/Landing/pic3.jpg);
    animation-delay: 25s;
}

.slideshow li:nth-child(4) {
    background-image: url(../IMAGES/Landing/pic4.jpg);
    animation-delay: 35s;
}

.slideshow li:nth-child(5) {
    background-image: url(../IMAGES/Landing/pic5.jpg);
    animation-delay: 45s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0.2;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: #b83c33;
    display: inline-block;
    margin-left: 7px;
    font-size: 2.3rem;
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
    opacity: 0.8;
}

.bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b83c33;
    transform-origin: 50%;
    animation: bounce 400ms alternate infinite ease;
}

@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}