    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        font-family: Forum, cursive;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/backgrounds/bg2.jfif);
        background-position: center center;
        background-size: cover;
    }
    
    .navbar .nav-item {
        font-size: 1.4rem;
        font-family: Kelly Slab, cursive;
    }
    
    .dropdown-menu {
        background-color: #2c3440;
    }
    
    .dropdown-item:hover {
        color: #fff;
        background-color: #2c3440 !important;
    }
    
    .row {
        margin-bottom: 40px;
    }
    
    h1 {
        color: white;
        font-size: 2rem;
        font-family: Kelly Slab, cursive;
        font-weight: 400;
    }
    
    #directorsH {
        text-align: right;
        margin-bottom: 40px;
    }
    
    .bottomAlign {
        vertical-align: bottom !important;
    }
    
    p,
    span {
        color: #9ab;
    }
    
    h5 {
        color: #fff;
    }
    
    .morecontent span {
        display: none;
    }
    
    p a {
        color: #0254EB !important;
        font-size: 1.15em;
    }
    
    p a:hover {
        color: #456 !important;
    }
    
    p a:hover {
        transform: scale(1.05);
        transition: transfrom 0.5s;
    }
    
    a.morelink {
        text-decoration: none;
        outline: none;
    }
    
    p,
    h5 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
    
    button {
        background-color: #456 !important;
        color: #bbccdd !important;
        border: none !important;
    }
    
    button:hover {
        color: #fff !important;
        text-decoration: none !important;
    }
    
    #btn {
        margin-top: 90px;
    }
    
    input {
        background-color: #456;
        color: #bbccdd;
        border: none;
        padding: 3px;
    }
    
    .slides img {
        height: 400px;
    }
    
    .demo {
        height: 100px;
        width: 130px;
    }
    
    .column {
        float: left;
        width: 20%;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 20px;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    .modal-content {
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        margin: auto;
        padding: 0;
        width: 700px;
        display: block;
    }
    
    .modal-content p {
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
        padding-top: 5px;
    }
    
    .close {
        color: #999;
        position: absolute;
        top: 0;
        right: 20;
        font-size: 55px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }
    
    .slides {
        display: none;
    }
    
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 10px 10px 0;
    }
    
    .next {
        right: 0;
        border-radius: 10px 0 0 10px;
    }
    
    .prev:hover,
    .next:hover {
        background-color: #456;
        opacity: 0.7;
    }
    
    .numbertext {
        color: #999;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 10;
    }
    
    .caption-container {
        text-align: center;
        padding: 2px 16px;
    }
    
    img.demo {
        opacity: 0.6;
    }
    
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.hover-shadow {
        transition: 0.3s;
    }
    
    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .page-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    
    .page-footer a,
    .footer-copyright,
    .dropdown-item {
        text-decoration: none !important;
        color: #9ab;
    }
    
    @media only screen and (max-width: 767px) {
        img {
            height: 250px;
            width: 150px;
        }
    }