*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    width: 100%;
    height:100%;
    display: block;
    position: relative;
    background-color: #14181C;
    font-family: Forum, cursive;
}

.navbar .nav-item {
    font-size: 1.4rem;
    font-family: Kelly Slab, cursive;
}
.dropdown-menu {
    background-color: #2c3440;
}
.dropdown-item:hover{
    color: #fff;
    background-color: #2c3440 !important;
}

#mainphoto {
    width: 100%;
    height: 450px;
    background:
    url(../IMAGES/pseudophoto.jpg);
    background-size: cover;
    box-shadow: 10px 20px 40px 40px #14181C inset, -10px -20px 40px 40px #14181C inset;
    margin-top: -45px;
}
.row{
    margin-top: -45px;
}

h1{
    color: white;
    font-size: 2rem;
    font-family: Kelly Slab, cursive;
    font-weight: 400;
}
p, h5{
    color: #9ab;
    font-size: 1.2rem;
}
button{
    background-color: #456 !important;
    color: #bbccdd !important;
}
button:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.slides img {
    height: 400px;
}

.demo {
    height: 100px;
    width: 130px;
}
.column {
    float: left;
    width: 20%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 0;
    width: 700px;
    display: block;
}
.modal-content p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding-top: 5px;
}

.close {
    color: #999;
    position: absolute;
    top: 0;
    right: 20;
    font-size: 55px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.slides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #14181C;
    opacity: 0.5;
}

.numbertext {
    color: #999;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 10;
}

.caption-container {
    text-align: center;
    padding: 2px 16px;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-footer {
    margin-top: 10px;
    background-color: #2c3440;
}

.page-footer a, .footer-copyright, .dropdown-item {
    text-decoration: none !important;
    color: #9ab;
}


